/* T */
[data-tmk] {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-synthesis: none;
  isolation: isolate;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

/* View */
[data-view=''] {
  --view-gap: clamp(1rem, 6vw, 3rem);
  --view-full: minmax(var(--view-gap), 1fr);
  --view-content: min(50ch, 100% - var(--view-gap) * 2);
  --view-popout: minmax(0, 2rem);
  --view-feature: minmax(0, 5rem);

  row-gap: var(--gap-5);
  display: grid;
  grid-template-columns:
    [full-start] var(--view-full)
    [feature-start] var(--view-feature)
    [popout-start] var(--view-popout)
    [content-start] var(--view-content) [content-end]
    var(--view-popout) [popout-end]
    var(--view-feature) [feature-end]
    var(--view-full) [full-end];
}

[data-view=''] > * {
  grid-column: content;
}

[data-view='popout'] {
  grid-column: popout;
}

[data-view='feature'] {
  grid-column: feature;
}

[data-view='full'] {
  grid-column: full;
  border-radius: unset;
}

/* Col to row */
[data-col-to-row=''] {
  display: flex;
}
@media (orientation: landscape) {
  [data-col-to-row=''] {
    flex-direction: row;
  }
}

/* Ratio */
[data-ratio] {
  width: 100%;
}
[data-ratio='auto'] {
  aspect-ratio: auto;
}
[data-ratio='square'] {
  aspect-ratio: 1;
}
[data-ratio='landscape'] {
  aspect-ratio: 16/9;
}
[data-ratio='portrait'] {
  aspect-ratio: 9/16;
}
[data-ratio='ultrawide'] {
  aspect-ratio: 18/5;
}

/* List */
[data-list] {
  height: max-content;
  list-style: none;
  width: 100%;
}

[data-list='item'] {
  --item-gap: 0.3em;
  --item-slot-width: 48px;
  --item-slot-width-xl: 96px;
  grid-gap: var(--item-gap);
  display: grid;
  gap: var(--item-gap);
  grid-template-columns: 1fr;
  height: max-content;
  padding: var(--item-gap);
  width: 100%;
  border: 1px solid currentColor;
}

[data-list='item']:not(:last-of-type) {
  border-bottom: none;
}

[data-list='item'] > :not([data-list='start'], [data-list='end']) {
  grid-gap: calc(var(--item-gap) * 2);
  display: grid;
  gap: calc(var(--item-gap) * 2);
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-list='item'] > [data-list='end'],
[data-list='item'] > [data-list='start'] {
  align-items: center;
  display: grid;
  justify-items: center;
  overflow: visible;
  place-items: center;
  align-self: center;
}
[data-list='item'] > [data-list='start'] {
  padding-right: 0;
}
[data-list='item'] > [data-list='end'] {
  padding-left: 0;
}

@supports not (selector(:has(*))) {
  [data-list='item'][data-list-item='item-start-end'] {
    grid-template-columns: var(--item-slot-width) 1fr var(--item-slot-width);
  }
  [data-list='item'][data-list-item='item-start'] {
    grid-template-columns: var(--item-slot-width) 1fr;
  }
  [data-list='item'][data-list-item='item-end'] {
    grid-template-columns: 1fr var(--item-slot-width-xl);
  }
}
@supports selector(:has(*)) {
  [data-list='item']:has([data-list='start']) {
    grid-template-columns: var(--item-slot-width) 1fr;
  }
  [data-list='item']:has([data-list='end']) {
    grid-template-columns: 1fr var(--item-slot-width-xl);
  }
  [data-list='item']:has([data-list='start']):has([data-list='end']) {
    grid-template-columns: var(--item-slot-width) 1fr var(--item-slot-width-xl);
  }
  [data-list='item']:has([data-list='end']) div:first-child,
  [data-list='item']:has([data-list='start']) div:nth-child(2),
  [data-list='item'] > div:only-child {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

[data-list=''] > [data-list='item'][data-list='divider'] {
  margin-bottom: -0.5em !important;
  margin-top: -0.5em !important;
}
[data-list='']
  > [data-list='item']
  > div:not([data-list='start'], [data-list='end'])
  > :not(:first-child) {
  font-size: 85%;
  overflow: inherit;
  text-overflow: inherit;
  white-space: normal;
}
@supports not (selector(:has(*))) {
  [data-list=''] > [data-list='item'][data-list-item='item-start-end'] {
    grid-template-columns: 48px 1fr 48px;
  }
  [data-list=''] > [data-list='item'][data-list-item='item-start'] {
    grid-template-columns: 48px 1fr;
  }
  [data-list=''] > [data-list='item'][data-list-item='item-end'] {
    grid-template-columns: 1fr 48px;
  }
}
@supports selector(:has(*)) {
  [data-list='']
    [data-list='item']:has([data-list='end'])
    div:first-child
    > :not(:first-child),
  [data-list='']
    [data-list='item']:has([data-list='start'])
    div:nth-child(2)
    > :not(:first-child),
  [data-list=''] [data-list='item'] > div:only-child > :not(:first-child) {
    font-size: 85%;
    overflow: inherit;
    text-overflow: inherit;
    white-space: normal;
  }
}

/* Layers */
[data-layers] {
  width: fit-content;
}

[data-layers] > * {
  grid-area: stack;
}
[data-layers] > *:first-child {
  position: relative;
}
[data-layers] > *[aria-hidden='true'] {
  visibility: hidden !important;
}

/* Auto */
[data-margin-auto='left'] {
  margin-left: auto;
}
[data-margin-auto='right'] {
  margin-right: auto;
}
[data-margin-auto='top'] {
  margin-top: auto;
}
[data-margin-auto='bottom'] {
  margin-bottom: auto;
}

/* Placements */
[data-place-items='center'] {
  place-items: center;
}
[data-place-items='start'] {
  place-items: start;
}
[data-place-items='end'] {
  place-items: end;
}
[data-place-content='center'] {
  place-content: center;
}
[data-place-content='start'] {
  place-content: start;
}
[data-place-content='end'] {
  place-content: end;
}
